* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display";
}

@font-face {
  font-family: "Clicker Script";
  src: url("../fonts/ClickerScript-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.ttf") format("woff2");
}

.container {
  padding-left: 93px;
  padding-right: 93px;
  width: 100%;
}

.pag1 {
  background-image: url("../assets/bg-overlay.png");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  color: white;
  background-color: #fffefc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bean {
  font-family: "Clicker script";
  height: 46px;
  width: 135px;
  font-size: 35px;
  padding-top: 21px;
}

.ul-links {
  list-style: none;
  display: flex;
  gap: 60px;
  padding-top: 34px;
}

a {
  text-decoration: none;
  color: white;
}

.order-btn {
  padding-top: 20px;
}

button {
  border-radius: 24px;
  background-color: #f9c06a;
  border: none;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
}

button:hover {
  transform: scale(1.1);
}

.secton_1 {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.secton_1_content {
  margin-top: 116px;
  color: white;
  max-width: 527px;
  max-height: 490px;
}

.secton_1_content p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
}

#coffee {
  top: 212px;
  width: 449px;
  height: 291px;
  font-weight: 400;
  font-size: 220px;
  color: #ffffff;
  font-family: "Clicker Script";
}

.order-btn-2 {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 700;
}

.order-btn-2 button {
  font-size: 16px;
  font-weight: 700;
}

.discover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffefc;
  padding-top: 82px;
  position: relative;
}

.discover-section {
  z-index: 10;
  max-width: 585px;
  max-height: 347px;
}

.discover-img {
  width: 100%;
  max-width: 500px;
  max-height: 484px;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discover-img img {
  /* width: 680px; */
  height: 476px;
}

.discover-section h3 {
  color: #603809;
  font-size: 54px;
  font-weight: 600;
  padding-bottom: 29px;
}

.discover-section p {
  color: #707070;
  font-size: 18px;
  line-height: 34px;
  padding-bottom: 28px;
}

.learn-more-btn {
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  z-index: 100;
}

.learn-more-btn:hover {
  transform: scale(1.1);
}

.discover-section .bottom-image {
  position: absolute;
  bottom: -121px;
  left: -200px;
  z-index: 5;
}

.discover-section .bottom-image img {
  width: 450px;
  height: 272px;
  transform: scaleY(-1);
  height: auto;
}

.coffee-types {
  padding-top: 82px;
  text-align: center;
  background-color: #fffefc;
  color: #603809;
}

.coffee-types-title {
  font-size: 54px;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 6px;
}

.coffee-types-description {
  color: #603809;
  font-size: 20px;
  margin-bottom: 6px;
}

.coffee-cards {
  display: flex;
  gap: 20px;
  padding-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc(25% - 15px);
  min-width: 250px;
  margin-bottom: 40px;
}

.coffee-card {
  position: relative;
  background-color: #fff9f1;
  border: 1px solid #f9c06a6b;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
}

.coffee-card-img-container {
  width: 100%;
  height: 222px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coffee-card img {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.coffee-card:hover img {
  transform: scale(1.05);
}

.coffee-card h2 {
  font-size: 22px;
  margin: 14px 0 6px;
  text-align: center;
}

.coffee-card h3 {
  font-size: 16px;
  margin-bottom: 6px;
  color: #1e1e1e;
  font-weight: 400;
  text-align: center;
}

.coffee-card p {
  font-size: 18px;
  margin-bottom: 18px;
  color: #603809;
  font-weight: 700;
  text-align: center;
}

.coffee-card button {
  position: absolute;
  bottom: -20px;
  font-weight: 700;
  font-size: 16px;
}

.filter-section {
  padding-top: 90px;
  margin-bottom: 16px;
}

.filter-container {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 16px;
}

.filter-btn {
  background-color: white;
  border: 2px solid #ffc266;
  color: #6b4e2e;
  padding: 10px 24px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.filter-btn:hover {
  background-color: #ffe4b5;
}

.filter-btn.active {
  background-color: #ffc266;
  color: #5c3f1d;
}

.menu-section {
  margin-bottom: 50px;
}

.table-wrapper {
  overflow: hidden;
  border: 1px solid #f9c06a6b;
  border-radius: 10px 10px 0 0;
  height: 580px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #ffffff;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

th,
td {
  padding: 15px 41px;
  text-align: left;
}

th {
  background-color: #ffeed8;
  color: #6b4e2e;
  font-weight: 700;
  font-size: 22px;
}

td {
  font-size: 1rem;
  color: #968162;
  font-size: 22px;
  font-weight: 400;
  font-family: "Roboto";
  border-bottom: 1px solid #4428086b;
}

.item {
  display: table-row;
}

.hidden {
  display: none;
}

.coffee-section {
  margin-left: -93px;
  margin-right: -93px;
  width: calc(100% + 186px);
  background-color: #6b4c29;
  color: white;
  padding: 60px 93px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coffee-content {
  max-width: 600px;
}

.coffee-image {
  max-height: 400px;
  height: auto;
}

.coffee-content h1 {
  font-size: 3.2rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.coffee-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.5;
}

.order-button {
  background-color: #f8c471;
  color: #333;
  padding: 12px 30px;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.order-button:hover {
  background-color: #f5b041;
  transform: translateY(-3px);
}

.coffee-image {
  max-height: 400px;
}

.feedback-section {
  background-color: white;
  padding: 0 24px;
  position: relative;
}

.feedback-container {
  padding-top: 45px;
  padding-bottom: 82px;
}

.feedback-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 84px;
  text-align: center;
}

.feedback-content h1 {
  color: #603809;
  font-size: 54px;
  font-weight: 700;
  padding: 16px 0;
}

.feedback-content p {
  color: #707070;
  font-size: 20px;
  font-weight: 400;
}

.feedback-slides {
  position: relative;
  padding-bottom: 80px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.feedback-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.feedback-slide {
  background-color: #fff9f1;
  text-align: center;
  position: relative;
  width: 100%;
  flex-grow: 1;
  position: relative;
  border: 1px solid #f9c06a6b;
}

.coffee-splash {
  position: absolute;
  width: 414px;
  height: 226px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
}

.coffee-splash.bottom-left {
  bottom: 90px;
  left: -110px;
  background-image: url("../assets/splash-coffee.png");
}

.coffee-splash.top-right {
  transform: scale(-1);
  right: -107px;
  top: 170px;
  background-image: url("../assets/splash-coffee.png");
}

.feedback-slide span {
  font-size: 220px;
  color: #603809;
  font-weight: bold;
  display: flex;
  margin-bottom: -120px;
  margin-top: -40px;
  margin-left: 29px;
}

.feedback-slide p {
  font-size: 18px;
  color: #707070;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 28px;
  margin-left: 100px;
  margin-right: 100px;
}

.feedback-slide h1 {
  color: #603809;
  font-size: 32px;
  margin-bottom: 4px;
}

.feedback-slide h3 {
  font-size: 20px;
  color: #707070;
  margin-bottom: 28px;
}

.feedback-slide img {
  height: 112px;
  width: 112px;
  border-radius: 16px;
  object-fit: cover;
  margin-top: 16px;
  transform: translateY(48px);
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
}

.arrow {
  background-color: #f9c06a;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 82px;
  width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
  z-index: 10;
  padding: 0;
}

.arrow.left {
  transform: translateX(50%);
}

.arrow.right {
  transform: translateX(-50%);
}

.arrow-icon {
  width: 16px;
  height: 16px;
}

.flipped {
  transform: rotate(180deg);
}

.arrow:hover {
  background-color: #eab458;
}

.subscrive-section {
  position: relative;
  background-image: url("../assets/subscrive-image.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  margin-left: -93px;
  margin-right: -93px;
  background-color: #603809;
  z-index: 0;
}

.subscrive-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #603809;
  opacity: 0.8;
  z-index: -1;
}

.subscrive-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.subscrive-container h1 {
  font-size: 54px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 8px;
}

.subscrive-container p {
  font-size: 20px;
  padding-bottom: 40px;
}

.subscrive-form {
  display: flex;
}

.subscrive-content input {
  padding: 15px;
  width: 505px;
  border: none;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.subscrive-content button {
  border-radius: 0px;
  width: 150px;
  height: auto;
  font-size: 22px;
  color: #603809;
  font-weight: 700;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.subscrive-photo img {
  width: 526px;
  height: 432px;
  position: relative;
  top: -70px;
}

footer {
  width: 100%;
  height: 492px;
  background-image: url("../assets/footer-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 93px;
}

.footer-container {
  height: 492px;
  background-position: center;
  display: flex;
  padding-top: 162px;
  justify-content: space-between;
}

.footer-content {
  height: 258px;
  width: 380px;
  padding-left: 93px;
}

.footer-content h2 {
  font-family: "Clicker Script";
  font-size: 54px;
  font-weight: 400;
  padding-bottom: 20px;
}

.footer-content p {
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
  line-height: 22px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 156px;
}

.social-media a {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.instagram-icon {
  background-image: url("../assets/instagram-icon.png");
}

.facebook-icon {
  background-image: url("../assets/facebook-icon.png");
}

.youtube-icon {
  background-image: url("../assets/youtube-icon.svg");
}

.twitter-icon {
  background-image: url("../assets/twitter-icon.png");
}

.about-content {
  height: 258px;
  width: 136px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-content h2 {
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 55px;
}

.company-content {
  height: 258px;
  width: 134px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.company-content h2 {
  font-size: 26px;
  padding-bottom: 55px;
  font-weight: 700;
}

.company-content p {
  font-size: 18px;
  font-weight: 400;
}

.contact-content {
  height: 258px;
  width: 332px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .discover-img img {
    width: 500px;
    height: auto;
  }
}

@media (max-width: 992px) {
  .header {
    flex-direction: column;
    padding-top: 20px;
  }

  .ul-links {
    padding: 20px 0;
    gap: 30px;
  }

  .discover {
    flex-direction: column;
    padding-top: 40px;
  }

  .discover-section {
    margin-bottom: 40px;
  }

  .discover-img img {
    width: 100%;
    max-width: 500px;
  }

  .card {
    width: calc(50% - 15px);
  }

  .coffee-section {
    flex-direction: column;
    text-align: center;
  }

  .coffee-content {
    margin-bottom: 40px;
  }

  .subscrive-container {
    flex-direction: column;
  }

  .subscrive-photo img {
    top: 0;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .ul-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .secton_1_content {
    margin-top: 60px;
  }

  #coffee {
    font-size: 150px;
  }

  .coffee-types-title,
  .feedback-content h1,
  .subscrive-container h1 {
    font-size: 42px;
  }

  .subscrive-form {
    flex-direction: column;
  }

  .subscrive-content input {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .coffee-splash {
    display: none;
  }

  .subscrive-content button {
    width: 100%;
    border-radius: 5px;
  }

  .footer-container {
    flex-wrap: wrap;
    padding-top: 80px;
  }

  .footer-content,
  .about-content,
  .company-content,
  .contact-content {
    width: 50%;
    margin-bottom: 40px;
  }
}
